{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class=" row">
            <div class="col-10">
                <h4 class="card-title">Welcome {{ user.name }}</h4>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-money  text-success" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Income</p>
                            <p class="card-title">{{ data.income }}
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-briefcase  text-primary" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Assets</p>
                            <p class="card-title">{{ data.assets }} ({{ data.assets_share | floatformat:2 }}%)
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="fa fa-university  text-primary" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Net Value</p>
                            <p class="card-title">{{ data.net_value | floatformat:2 }}
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">

                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category text-warning">Expenses</p>
                            <p class="card-title">{{ data.expenses }}
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">

                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category text-primary">Unallocated</p>
                            <p class="card-title">{{ data.unallocated | floatformat:2 }}
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">

                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category text-danger">Liabilities</p>
                            <p class="card-title">{{ data.liabilities }} ({{ data.liabilities_share | floatformat:2 }}%)
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">

                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category text-danger">Total Liabilities </p>
                            <p class="card-title">{{ data.total_liabilities | floatformat:2 }}
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Gross Value per month</h5>
              </div>
              <div class="card-body ">
                <canvas id=gross-value width="400" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>


{% endblock %}


{% block scripts %}
    <script src="{% static '/js/plugins/chartjs.min.js' %}"></script>
    <script>
        $(document).ready(function() {
            chartColor = "#FFFFFF";

    ctx = document.getElementById('gross-value').getContext("2d");
    labels = [0];
    assets = [0];
    liabilities = [0];
    {% for label in data.chart.labels %}
        labels.push("{{ label }}")
    {% endfor %}

     {% for key, value in data.chart.assets.items %}
        assets.push({{ value | floatformat:0 }})
    {% endfor %}

    {% for key, value in data.chart.liabilities.items %}
        liabilities.push({{ value | floatformat:0 }})
    {% endfor %}

    myChart = new Chart(ctx, {
      type: 'line',

      data: {
        labels: labels,
        datasets: [
          {
            borderColor: "#721c24",
            backgroundColor: "#f8d7da",
            pointRadius: 0,
            pointHoverRadius: 0,
            borderWidth: 3,
            data: liabilities
          },
        {
            borderColor: "#004085",
            backgroundColor: "#cce5ff",
            pointRadius: 0,
            pointHoverRadius: 0,
            borderWidth: 3,
            data: assets
          }
        ]
      },
      options: {
        legend: {
          display: false
        },

        tooltips: {
          enabled: false
        },

        scales: {
          yAxes: [{

            ticks: {
              fontColor: "#9f9f9f",
              beginAtZero: false,
              maxTicksLimit: 5,
              //padding: 20
            },
            gridLines: {
              drawBorder: false,
              zeroLineColor: "#ccc",
              color: 'rgba(255,255,255,0.05)'
            }

          }],

          xAxes: [{
            barPercentage: 1.6,
            gridLines: {
              drawBorder: false,
              color: 'rgba(255,255,255,0.1)',
              zeroLineColor: "transparent",
              display: false,
            },
            ticks: {
              padding: 20,
              fontColor: "#9f9f9f"
            }
          }]
        },
      }
    });

        });
    </script>
{% endblock %}