{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                <h4 class="card-title"> Transactions</h4>
            </div>
            <div class="col-2">
                <a href="{% url 'transactions.create' %}" class="btn btn-primary right">Add</a>
            </div>
        </div>


    </div>
    <div class="card-body">
        <form method="GET" class="form-inline" action="{% url 'transactions.index' %}">
            <div class="form-group">
                <select name="category" class="form-control" required>
                    <option value="0">All categories</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}"
                         {% if values.category == category.id|slugify %}
                               selected="true"
                        {% endif %}
                        >{{ category.name }} ({{ category.type}})</option>
                    {% endfor %}
                </select>
            </div>
             <div class="form-group ml-2">
                <div id="datepicker" class="input-group date" data-date-format="dd.mm.yyyy">
                    <input class="form-control" type="text" name="date" readonly value="{{ values.date }}"/>
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="form-group ml-2">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form>
        {% if transactions %}
        <div class="table-responsive">
            <table class="table">
                <thead class=" text-primary">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                <tr class="
                                   {% if transaction.category.type == 'liability' %}
                                        table-danger
                                   {% elif transaction.category.type == 'asset' %}
                                        table-info
                                   {% elif transaction.category.type == 'revenue' %}
                                        table-success
                                   {% endif %}
                                ">
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>
                        <a href="{% url 'transactions.edit' transaction.id%} " class="btn btn-sm btn-default"
                           title="Edit item"><i class="nc-icon nc-ruler-pencil"></i></a>
                        <a href="#" class="btn btn-sm btn-danger fnc-remove-item" data-id="{{ transaction.id }}"
                           title="Remove item"><i class="nc-icon nc-simple-remove"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>There is no transactions yet.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
{% block head %}
<link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet"/>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/plugins/bootstrap-datepicker.min.js' %}"></script>
<script>
    $(".fnc-remove-item").click(function(e) {

        e.preventDefault();
        if(confirm("Do you wan to delete item?")) {
            $.ajax({
                url: "{% url 'transactions.delete' %}",
                method: "POST",
                data: {csrfmiddlewaretoken: "{{ csrf_token }}", id: $(this).data('id')},
                success: function() {
                    window.location.reload();
                }
            });
        }
    });

      $(function () {
        $("#datepicker").datepicker({
            autoclose: true,
            todayHighlight: true,
        }).datepicker('update', "{{ values.date }}");
    });
</script>
{% endblock %}
