{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-10">
                <h4 class="card-title"> Transactions</h4>
            </div>
            <div class="col-2">
                  <a href="{% url 'transactions.create' %}" class="btn btn-primary right">Add</a>
            </div>
        </div>


    </div>
    <div class="card-body">
           {% if transactions %}
           <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                      </thead>
                      <tbody>
                           {% for transaction in transactions %}
                            <tr class="
                                   {% if transaction.category.type == 'liability' %}
                                        table-danger
                                   {% elif transaction.category.type == 'asset' %}
                                        table-info
                                   {% elif transaction.category.type == 'revenue' %}
                                        table-success
                                   {% endif %}
                                ">
                                <td>{{ transaction.date }}</td>
                                <td>{{ transaction.amount }}</td>
                                <td>{{ transaction.category.name }}</td>
                                <td></td>
                            </tr>
                            {% endfor %}
                      </tbody>
                  </table>
           </div>
           {% else %}
                <p>There is no transactions yet.</p>
           {% endif %}
    </div>
</div>

{% endblock %}