{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title"> Transactions</h4>
    </div>
    <div class="card-body">
           <div class="table-responsive">
                  <table class="table">
                      <thead class=" text-primary">
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                      </thead>
                      <tbody>
                            <tr class="table-danger">
                                <td>01.02.2024</td>
                                <td>150.00</td>
                                <td>Food</td>
                                <td></td>
                            </tr>
                            <tr class="table-success">
                                <td>01.02.2024</td>
                                <td>150.00</td>
                                <td>Salary</td>
                                <td></td>
                            </tr>
                            <tr class="table-info">
                                <td>01.02.2024</td>
                                <td>150.00</td>
                                <td>Asset</td>
                                <td></td>
                            </tr>
                      </tbody>
                  </table>
           </div>
    </div>
</div>

{% endblock %}